#root {
  height: 100vh;
  width: 100vw;
  background-color: #25061d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  color: white;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.BeautyContainer {
  font-family: 'Oswald', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.beauty-content{
  overflow: hidden;
  background: linear-gradient(#65c9fc, #89d3f6);
  border-radius: 10px;
  height: 600px;
  width: 400px;
}

.beauty-content .nav {
  display: flex;
  justify-content: space-between;
  margin: 7% 7%;
}

.beauty-content .nav i {
  color: #c3e9fd;
  font-size: 23px;
}

.BeautyContainer .api-content {
  color: white;
  text-align: center;
  margin-top: 8vh;
}


.BeautyContainer .city {
  letter-spacing: 3px;
  font-size: 25px
}

.BeautyContainer .weather {
  letter-spacing: 2px;
  text-transform: capitalize;
  font-size: 20px;
}

.BeautyContainer span {
  content: "\00B0";
}

.BeautyContainer .degrees {
  margin-top: 20px;
  font-size: 100px;
  letter-spacing: 10px;
}

.BeautyContainer .objects {
  position: relative;
}

.BeautyContainer .clouds {
  margin-top: 30px;
  background: url("./img/clouds.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 500px;
  height: 100px;
  transform: translateX(-15%);
  opacity: 0.5;
}

.BeautyContainer .sea {
  position: absolute;
  top: 90%;
  width: 100%;
  background: linear-gradient(#22a8d5, #2bcada);
  height: 120px;
  z-index: 2;
}

.BeautyContainer .sea img {
  position: absolute;
  top: -25%;
  right: 0%;
  width: 25%;
  animation: sail 8s infinite;
  animation-timing-function: linear;
}

@keyframes sail {
  0% {
    right: -25%;
  }
 
  100% {
    right: 100%;
  }
}

.RainyContainer {
  font-family: 'Oswald', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}


.rainy-content{
  overflow: hidden;
  /* background: linear-gradient(#23194b ,#716fc8); */
  /* background: linear-gradient(-120deg, #23194b, #716fc8); */
  /* background: linear-gradient(-45deg, #23194b, #716fc8, #23194b, #23a6d5, #716fc8 ); */
  /* background-position: 600%; */
  background-image: linear-gradient(-120deg, #1b133d, #8482e0);
  background-size: auto 200%;
  background-position: 0 100%;
  /* background-size: cover; */
  border-radius: 10px;
  height: 600px;  
  width: 400px;
  animation: sky 10s ease infinite;
}

@-webkit-keyframes sky {
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}
@-moz-keyframes sky {
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}
@keyframes sky { 
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}

.rainy-content .nav {
  display: flex;
  justify-content: space-between;
  margin: 7% 7%;
}

.rainy-content .nav i {
  color: #c3e9fd;
  font-size: 23px;
}

.RainyContainer .api-content {
  color: white;
  text-align: center;
  margin-top: 8vh;
}


.RainyContainer .city {
  letter-spacing: 3px;
  font-size: 25px
}

.RainyContainer .weather {
  letter-spacing: 2px;
  text-transform: capitalize;
  font-size: 20px;
}

.RainyContainer span {
  content: "\00B0";
}

.RainyContainer .degrees {
  margin-top: 20px;
  font-size: 100px;
  letter-spacing: 10px;
}

.RainyContainer .objects {
  position: relative;
  width: 100%;
}

 .RainyContainer .mountains img { 
  position: absolute;
  bottom: -300px;
  width: 100%;
  height: 420px;
  z-index: 1;
}

.RainyContainer .moon img {
  position: absolute;
  bottom: -140px;
  left: 0px;
  height: 100px;
  width: 100px;
  animation: shine 10s ease infinite;
}

@keyframes shine {
0%{
  bottom: -140px;
  left: 0px;
}

50%{
  transform: scale(1.4);
}

100%{
  bottom: 80px;
  left: 400px;
  }
}

.NightContainer {
  font-family: 'Oswald', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.night-content{
  overflow: hidden;
  background: linear-gradient(#2a3447, #dadcde);
  border-radius: 10px;
  height: 600px;
  width: 400px;
}


.night-content .nav {
  display: flex;
  justify-content: space-between;
  margin: 7% 7%;
}

.night-content .nav i {
  color: #c3e9fd;
  font-size: 23px;
}

.NightContainer .api-content {
  color: white;
  text-align: center;
  margin-top: 8vh;
}


.NightContainer .city {
  letter-spacing: 3px;
  font-size: 25px
}

.NightContainer .weather {
  letter-spacing: 2px;
  text-transform: capitalize;
  font-size: 20px;
}

.NightContainer span {
  content: "\00B0";
}

.NightContainer .degrees {
  margin-top: 20px;
  font-size: 100px;
  letter-spacing: 10px;
}

.NightContainer .objects {
  position: relative;
}

#asteroid img {
 position: absolute;
 right: -40%;
 top: -500px;
 width: 6%;
 animation: asteroidfall 2s ease-in-out infinite;
 animation-delay: 3s;
 z-index: 0;
}

@keyframes asteroidfall {
  0% {
    right: -40%;
  
  }
  100% {
    right: 80%;
    top: 140px;
    transform: scale(2.5);
  }
}

.NightContainer .rain img {
  position: absolute;
  top: 100px;
  left: -120px;
  height: 150px;
  width: 700px;
  z-index: 2;
}

#flame-wrapper {
  position: absolute;
  left: 44%;
  bottom: -30px;
  animation: flicker 3ms ease-in infinite;
}

@keyframes flicker {
  0% {transform: rotate(-1deg);}
  20% {transform: rotate(2deg) scaleY(1.05);}
  40% {transform: rotate(-1deg);}
  60% {transform: rotate(1deg);}
  80% {transform: rotate(-1deg) scaleY(0.90);}
  100% {transform: rotate(1deg);}
}

#red {
  transform: rotate(-45deg);
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 50px;
  background: orangered;
  border-radius: 50% 0% 50% 50%;
}
#orange {
  transform: rotate(-45deg);
  position: absolute;
  bottom: 0;
  left:10px;
  width: 30px;
  height: 30px;
  background: orange;
  border-radius: 50% 0% 50% 50%;
}
#gold {
  transform: rotate(-45deg);
  position: absolute;
  bottom: 0;
  left:18px;
  width: 15px;
  height: 15px;
  background: gold;
  border-radius: 50% 0% 50% 50%;
}
#white {
  transform: rotate(-45deg);
  position: absolute;
  bottom: 0;
  left:22px;

  width: 5px;
  height: 5px;
  background: lightyellow;
  border-radius: 50% 0% 50% 50%;

}

#statue-top-line {
  position: absolute; 
  height: 8px;
  width: 40px;
  left: 45%;
  bottom: -40px;
  background-color: #70839a;
  z-index: 1;
}

#statue-second-line {
  position: absolute; 
  height: 8px;
  width: 40px;
  left: 45%;
  bottom: -55px;
  background-color: #70839a;
  z-index: 1;
}

#statue-column {
  position: absolute;
  left: 46.5%;
  top: 35px; 
  height: 120px; 
  width: 30px;
  background-color: #2a3447; 
}

#statue-bottom-line {
  position: absolute; 
  height: 8px;
  width: 40px;
  left: 45%;
  bottom: -162px;
  background-color: #70839a;
}


.NightContainer .statue-bottom{ 
  position: absolute; 
  left: 45%;
  bottom: -181px;
  width: 40px;
  border-top: 20px solid #2a3447; 
  border-left: 10px solid transparent; 
  border-right: 10px solid transparent; 
}

#explosion {
  position: absolute;
  left: 35px;
  bottom: -230px;
  background-color: yellow;
  height: 100px;
  width: 80px;
  z-index: 1;
  animation: explode 2s infinite;
}

@keyframes explode {
  0% { box-shadow: 0 0 -100px #c4a300; }
  40% { box-shadow: 0 0; }
  60% { box-shadow: 0 0 100px #c4a300; }
  100% { box-shadow: 0 0 -100px #c4a300; }
}

.NightContainer .ground {
  position: absolute;
  bottom: -380px;
  left: -35px;
  background-color: #2a3447;
  width: 120%;
  height: 200px;
  border-radius: 50% / 50%;
  z-index: 3;
}

@keyframes sail {
  0% {
    right: -25%;
  }
 
  100% {
    right: 100%;
  }
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  margin: 20px auto;
}

form input {
  height: 4.5vh;
  width: 85%;
  padding-left: 15px;
  border-radius: 15px;
  background-color: rgba(255,255,255,0.3);
  color: white;
  border-style: none;
  text-transform: uppercase;
}

form input::placeholder {
  color: white;
  text-transform: uppercase;

}

form button {
  height: 4.5vh;
  border-radius: 15px;
  width: 20%;
  background-color: white;
  border-style: none;
}